# vs code
.vscode/

# unity
Temp/
Library/
Obj/
Assets/_StandardAssets/
Assets/_StandardAssets.meta

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.DS_store

# atlas to sprite
.idea/
output/
*.class
_Build/
